$black: rgb(5, 5, 5);
$black-light: rgb(31, 31, 31);
$black-lighter: rgb(45, 45, 45);
$black-lighter-plus: rgb(58, 58, 58);

$grey: rgb(117, 117, 117);
$grey-light: rgb(233, 233, 233);
$grey-lighter: rgb(244, 244, 244);

$white: rgb(255, 255, 255);

$primarycolor: rgb(164, 69, 237);
$secondarycolor: rgb(255, 82, 82);

// Typography
$sans-serif-font: 'Inter';
$serif-font: 'Lora';
$mono-font: 'Inconsolata';
$default-font-size: 1.8rem;
